<section class="example">
    <div class="container">
        <h5 class="center">{{ title }}</h5>

        <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="filter"> Filter </label>
                <input id="filter" (input)="onSubmit()" type="text" formControlName="filter" />
            </div>

            <button class="button" type="submit">Search</button>
            <h6 class="center">{{ warning }}</h6>
        </form>

        <div *ngIf="characters$ | async as characters; else loading">
            <div class="row">
                <div class="column">
                    <table class="email-contact">
                        <tr>
                            <td>EN</td>
                            <td>DE</td>
                            <td>TR</td>
                        </tr>
                        <tr *ngFor="let character of characters">
                            <td>
                                {{ character.english }}
                            </td>
                            <td>
                                {{ character.german }}
                            </td>
                            <td>
                                {{ character.turkish }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <ng-template #loading>
            <div class="loading">
                <div class="lds-ripple">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-template>
    </div>
</section>